body {
  margin: 0;
  font-size: 16px;
  font-family: DM Sans;
  background-color: #243F02;
  color: white;
}

.header {
  color: white;
  background-color:#243F02;
  padding: 10px;
  text-align: center;
}

#navbar {
  overflow: hidden;
  background-color: #94A555;
}

#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

#navbar a:hover {
  background-color: #7084A4;
  color: white;
}

#navbar a.active {
  background-color: #112700;
  color: white;
}

.column1 {
  padding-left: 55px;
  width: 33%;
  float: left;
}

.column2 {
  padding-right: 55px;
  width: 33%;
  float: right;
}

.column3 {
  padding-right: 55px;
  width: 33%;
  float: right;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}

.hero-image{
  width: 100%;
  margin-bottom: -5px;
}

@media screen and (max-width:400px){
  #navbar a{
    float: none;
  }

  .column1 {
    width: 95%;
    padding: 8px;
  }

  .column2 {
    width: 95%;
    padding: 8px;
  }

  .column3 {
    width: 95%;
    padding: 8px;
  }
}