body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}


a {
  color: inherit;
  text-decoration: none;
  font-family: rolphie;
}


* {
  box-sizing: border-box;
}

.box {
  position: absolute;
  top: 560px;
  height: 220px;
  width: 600px;
	background-color: #12162d;
  color: #12162d;
  padding: 40px;
  border: solid 1px #12162d;
  margin: 20px;
}

.contact {
  position: fixed;
  bottom: 0px;
  width: 300px;
  left: 0px;
	background-color: transparent;
  color: #000000;
  padding: 0px;
  margin: 20px;
  font-size: 10px;
}

.text1 {
  position: absolute;
  top: 880px;
  height: 6000px;
  width: 560px;
  background-color: #ffffff;
  color: #ffffff;
  padding: 0px;
  border: solid 1px #ffffff;
  margin: 20px;
  font-size: 28px;
}

topimg {
  padding: 0;
  margin: 0;
  width: auto;
  max-width: 100%;
  height:800;
  position: relative;
  top: 10px;
  left: 10px;
  right: 10px;
}   

.name {
  position: absolute;
  top: 745px;
  left: 400px;
  font-size: 18px;
}

.navbar {
  overflow: hidden;
  background-color: #12162d;
  position: absolute;
  width: 100%;
  height: 30px;
  top: 0px;
  bottom: 0px;
}


.navbar a {
  width: 200px;
  height: 30px;
  float: left;
  display: block;
  color: #ffffff;
  text-align: center;
  font: 15px Roboto;
  padding: 6px;
  text-decoration: none;
  border-right: 1px solid #ffffff;
}

.navbar a:hover {
  background: #12162d;
  color: #D14444;
} 


main {
  margin-top: 0px;
  flex: 1;
  background-color: #12162d;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}


.code {
  background: #ffffff;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #000000;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  color: #705000;
  border-color: #705000;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
